<ul class="administration_list">
	<li class="tick"><a href="<%= authors_path %>">Авторы</a></li>
	<li class="tick"><a href="<%= books_path %>">Книги</a></li>
	<li class="tick"><a href="<%= genres_path %>">Разделы</a></li>
	<li class="tick"><a href="<%= quotations_path %>">Цитаты</a></li>
	<li class="tick"><a href="<%= subgenres_path %>">Подразделы</a></li>
</ul>