<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <select name="book[author]"> 
      <% if @book.author.blank?%><option selected disabled hidden value=''>Выберите автора</option> <% end %> 
      <% @authors.each do |a| %>
        <option <% if @book.author.id == a.id %> selected <% end %>value="<%= a.id %>"><%= a.name%></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <input type="text" name="book[title]" class="contacttextform" placeholder="Название книги" value="<%= @book.title %>"/>
  </fieldset>
  <fieldset>
    <input type="number" name="book[year]" class="contacttextform" placeholder="Год выхода" value="<%= @book.year %>"/>
  </fieldset>
  <fieldset>
    <textarea name="book[description]" class="contacttextarea" value="<%= @book.description %>" onfocus="if (this.value == 'Описание книги') {this.value = '';}"><%= @book.description%></textarea>
  </fieldset>
  <fieldset>
    <select name="book[subgenre]">
      <% if @book.subgenre.blank?%><option selected disabled hidden value=''>Выберите подкатегорию</option> <% end %> 
      <% @genres.each do |g|%>
        <optgroup label="<%= g.title %>">
          <% g.subgenres.each do |s|%>
            <option <% if @book.subgenre.id == s.id %> selected <% end %> value="<%= s.id %>"><%= s.title %></option>
          <% end %>
        </optgroup>
      <% end %>

    </select>
  </fieldset>

  <fieldset>
    <div class="file_label">Обложка</div> 
    <%= f.file_field :bookcover %>
    <%= f.hidden_field :bookcover_cache %>
  </fieldset>
  <fieldset>
    <div class="file_label">Книга</div>
    <%= f.file_field :bookfile %>
    <%= f.hidden_field :bookfile_cache %>
  </fieldset>
  <fieldset>
    <input name="commit" class="largesmoothrectange orangebutton" type="submit" value="Загрузить книгу"/>
  </fieldset>
<% end %>
