<div class="bookimagewrap">
	<img src="<%= @book.bookcover.url %>" class="bookimage"/><br/>
	<a class="largesmoothrectange greenbutton" href="<%= read_book_path(@book, :anchor => "bookpage")%>">Читать книгу онлайн</a>
</div>
<div class="bookinfo">
	  <p>
	  	<h2><b>Название: </b><%= @book.title %></h2>
	  </p>
	  <p>
	  	<h2><b>Автор: </b><%= @book.author.name %></h2>
	  </p>
	  <p>
	  	<h2><b>Год выхода: </b><%= @book.year.to_s %></h2>
	  </p>
	  <p>
	  	<h2><b>Описание:</b></h2>
		<p>
		  <%= @book.description %>
		</p>
	  </p>
	  <br/>
	  	<a class="largesmoothrectange orangebutton" id="downloadbutton" href="<%= @book.bookfile.url%>">Скачать (<small><%= (@book.bookfile.size/1024.0/1024.0).round(2)%>MB</small>)</a>
	   	<div class="rating_choose">
	  	<%= form_tag("/rates", method: "post", style: "border:none") do %>
	  		<input type="hidden" name="book" value="<%= @book.id %>"/>
			<select name="points">
		    	<option value="0">0</option>
		    	<option value="1">1</option>
		    	<option value="2">2</option>
		    	<option value="3">3</option>
		    	<option value="4">4</option>
		    	<option value="5">5</option>
			</select>
			<input name="commit" class="largesmoothrectange orangebutton" type="submit" value="Оценить"/>
		<% end %>
		</div>
		<p class="book_rating"> Средняя оценка пользователей - <b><%= @book.average_rating%></b></p>
		<p class="book_rating"> Количество просмотров книги - <b><%= @book.views%></b></p>
</div>			
