<h1>Listing subgenres</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subgenres.each do |subgenre| %>
  <tr>
    <td><%= subgenre.title %></td>
    <td><%= link_to 'Show', subgenre %></td>
    <td><%= link_to 'Edit', edit_subgenre_path(subgenre) %></td>
    <td><%= link_to 'Destroy', subgenre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subgenre', new_subgenre_path %>