<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
		<h1>&nbsp</h1>
		<div id="main-wrap">
			<div class="boxes-full">
	            <div class="boxes-padding fullpadding">
	                <div class="splitnone">
	                	<a href="<%= root_path %>"><image src="<%= root_path%>assets/book1.png" style="height: 110px; width:110px; margin: 0 0 0 15px; float:left;"/>
	                    </a>
	                    <p id="logoname">
		                    E-library
	                    </p>
	                    <% if quotation%>
	                    <div class="quotation">
	                    	<p style="float:right"><%= quotation.body %></p><br/>
	                    	<p style="float:right"><%= quotation.author %></p>
	                    </div>
	                    <%end %>
	                </div>
	            </div>	            
	            <span class="box-arrow"> </span>
	        </div>
			<%= yield %>
		</div>
	</div>
	<div id="footer">
    <div id="footerbottom">
        <div class="footerwrap">
        
            <!-- Start Copyright Div -->
            <div id="copyright"> 2014, "IT University"
        
        </div>    
    </div>
</div>
</body>
</html>
